@import "~global.scss";

$side-padding: 100px;
$message-min-height: 64px;
$message-padding: 8px;
$message-border-radius-large: 16px;
$message-border-radius-small: 4px;

:host {
	display: block;
	margin-bottom: 32px;

	&:first-of-type {
		margin-top: 32px;
	}

	.container {
		display: flex;
		flex-flow: row nowrap;
		font-size: 0;
		padding: 0 32px;
		box-sizing: border-box;
		
		.spacer {
			flex: 1;
		}

		&.local-user {
			flex-flow: row-reverse nowrap;
			text-align: right;

			.content {
				.sender {
					flex-flow: row-reverse nowrap;

					p {
						margin-left: 0;
						margin-right: 16px;
					}
				}
			}
		}

		.content {
			.sender {
				display: flex;
				flex-flow: row nowrap;
				height: 38px;

				p {
					@include contact-name;					

					display: inline-block;
					font-size: 16px;
					line-height: 38px;
					vertical-align: top;
					margin-left: 16px;									
				}

				img {
					width: 38px;
					border-radius: 50%;
				}
			}

			@media (max-width: 1000px) {
				.sender {
					height: 32px;

					img { width: 32px; }					

					p {
						font-size: 14px;
						line-height: 32px;
					}
				}
			}

			.message-container {
				display: flex;
				flex-flow: column nowrap;

				.message {
					margin-bottom: 3px;

					.tail {
						display: block;
						width: 12px;
						height: 12px;
						margin-left: 13px;

						path { fill: $background-tertiary-color; }

						&.local-user {
							margin-left: calc(100% - 25px);

							path { fill: $gamma; }
						}

						@media (max-width: 1000px) {
							margin-left: 10px;							

							&.local-user {
								margin-left: calc(100% - 22px);
							}
						}
					}

					.message-inner {
						display: inline-block;						
						min-width: 26px;
						background-color: $background-tertiary-color;
						color: $text-color;
						font-size: 16px;
						border-radius: $message-border-radius-small;
						padding: 6px 10px;

						border-top-left-radius: $message-border-radius-small;
						border-bottom-left-radius: $message-border-radius-small;
						border-top-right-radius: $message-border-radius-large;
						border-bottom-right-radius: $message-border-radius-large;

						.message-text {
							display: inline-block;
							word-wrap: break-word;
							word-break: break-word;
							hyphens: auto;
						}

						@media (max-width: 1000px) {
							font-size: 14px;
							padding: 4px 6px;
						}
					}

					&:first-child {
						.message-inner {
							border-top-left-radius: 10px;
						}
					}

					&:last-child {
						.message-inner {
							border-bottom-left-radius: 10px;
						}

						margin-bottom: 0;						
					}	
				}

				&.local-user {
					.message {
						.message-inner {
							color: $background-color;
							background-color: $gamma;

							border-top-left-radius: $message-border-radius-large;
							border-bottom-left-radius: $message-border-radius-large;
							border-top-right-radius: $message-border-radius-small;
							border-bottom-right-radius: $message-border-radius-small;
						}

						&:first-child {
							.message-inner {
								border-top-right-radius: 10px;
							}
						}

						&:last-child {
							.message-inner {
								border-bottom-right-radius: 10px;
							}

							margin-bottom: 0;						
						}	
					}
				}
			}
		}
	}
}