$background-color: #222;
$background-secondary-color: #333;
$background-tertiary-color: #444;
$text-color: #DDD;
$accent-color: #666;
$gamma: #65D588;
// $gamma: #c0d861;

$sidebar-width-unitless: 20;
$sidebar-width: $sidebar-width-unitless * 1vw;
$sidebar-min-width: 300px;
$sidebar-width-breakpoint: (100 / $sidebar-width-unitless) * $sidebar-min-width;
$sidebar-animation-duration: 600ms;

$panel-padding: 16px;
$top-bar-height: 40px;

$chat-tabs-height: $top-bar-height;
$chat-tabs-background-color: transparent;
$chat-tabs-hovered-background-color: lighten($background-tertiary-color, 10%);
$chat-tabs-selected-background-color: $background-color;
$chat-tabs-selected-border-color: transparent;
$chat-tabs-transition-duration: 250ms;
$chat-tabs-transition-function: ease;

@mixin topbar {
	width: 100%;
	height: $top-bar-height + 1;
	background-color: $background-tertiary-color;
	font-size: 0;
	box-sizing: border-box;

	h1 {
		display: inline-block;
		font-size: 16px;
		line-height: $top-bar-height;
	}
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin center-horizontal {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-both {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}