$background-color: #222;
$background-secondary-color: #333;
$background-tertiary-color: #444;
$text-color: #DDD;
$accent-color: #666;
$gamma: #65D588;
// $gamma: #c0d861;

$sidebar-width: 20vw;
$sidebar-animation-duration: 600ms;

$panel-spacing: 10px;
$panel-border-radius: 12px;

$top-bar-height: 40px;
$top-bar-padding: $panel-spacing;

$chat-tabs-border-radius: 10px;
$chat-tabs-height: $top-bar-height - 8px;
$chat-tabs-background-color: $background-color;
$chat-tabs-hovered-background-color: lighten($background-color, 25%);
$chat-tabs-selected-background-color: $background-secondary-color;
$chat-tabs-border-color: $background-tertiary-color;
$chat-tabs-selected-border-color: $accent-color;
$chat-tabs-transition-duration: 250ms;
$chat-tabs-transition-function: ease;

@mixin topbar {
	width: 100%;
	height: $top-bar-height + 1;
	padding: 0 $top-bar-padding;
	background-color: $background-tertiary-color;
	border-bottom: 1px solid $accent-color;
	font-size: 0;
	box-sizing: border-box;

	h1 {
		display: inline-block;
		font-size: 16px;
		line-height: $top-bar-height;
	}
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}