<app-main-contacts-user
*ngFor="let result of requests; index as index; first as isFirst;"
[localUser]="localUser"
[data]="result"
[index]="index"
[showBanner]="isFirst"
bannerText="Requests">
</app-main-contacts-user>

<app-main-contacts-user
*ngFor="let result of invitations; index as index; first as isFirst;"
[localUser]="localUser"
[data]="result"
[index]="index + requests.length"
[showBanner]="isFirst"
bannerText="Pending">
</app-main-contacts-user>

<app-main-contacts-user
*ngFor="let result of invitations; index as index; first as isFirst;"
[localUser]="localUser"
[data]="result"
[index]="index + requests.length + invitations.length"
[showBanner]="isFirst"
bannerText="Friends">
</app-main-contacts-user>