<div class="section" *ngIf="sections.you">
	<app-main-contacts-list-banner
	*ngIf="contacts.you.length != 0"
	section="you"
	[contacts]="contacts.you"
	[hideContact]="hideContact"
	[animated]="animated.you"
	index="0">
	</app-main-contacts-list-banner>
</div>

<div class="section" *ngIf="sections.requests">
	<app-main-contacts-list-banner
	*ngIf="contacts.requests.length != 0"
	section="requests"
	[contacts]="contacts.requests"
	[hideContact]="hideContact"
	[animated]="animated.requests"
	[index]="contacts.you.length">
	</app-main-contacts-list-banner>
</div>

<div class="section" *ngIf="sections.pending">
	<app-main-contacts-list-banner
	*ngIf="contacts.pending.length != 0"
	section="pending"
	[contacts]="contacts.pending"
	[hideContact]="hideContact"
	[animated]="animated.pending"
	[index]="contacts.you.length +
	contacts.requests.length">
	</app-main-contacts-list-banner>
</div>

<div class="section" *ngIf="sections.friends">
	<app-main-contacts-list-banner
	*ngIf="contacts.friends.length != 0"
	section="friends"
	[contacts]="contacts.friends"
	[hideContact]="hideContact"
	[animated]="animated.friends"	
	[index]="contacts.you.length +
	contacts.requests.length + 
	contacts.pending.length">
	</app-main-contacts-list-banner>
</div>

<div class="section" *ngIf="sections.others">
	<app-main-contacts-list-banner
	*ngIf="contacts.others.length != 0"
	section="others"
	[contacts]="contacts.others"
	[hideContact]="hideContact"
	[animated]="animated.others"	
	[index]="contacts.you.length +
	contacts.requests.length + 
	contacts.pending.length +
	contacts.friends.length">
	</app-main-contacts-list-banner>
</div>