@import "~global.scss";

$user-container-height: 38px;

:host {
	.container {
		display: flex;
		flex-flow: row nowrap;
		height: $user-container-height;
		width: 100%;
		margin-bottom: 10px;
		transition: all 250ms ease;

		.avatar {
			width: $user-container-height;
			height: $user-container-height;
			margin-right: $panel-padding;
		}

		& > div {
			flex: 1;

			.name-and-status {
				display: flex;
				flex-flow: row wrap;
				line-height: $user-container-height;

				.name {
					flex-grow: 1;
					width: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;

					&:before {
						content: "@";
						margin-right: 2px;
						opacity: 0.5;						
					}
				}

				.invite {					
					svg {
						@include noselect;

						cursor: pointer;
						
						width: 16px;
						margin-right: 2px;
						opacity: 0.75;
						transition: transform 300ms ease;

						g { transition: fill 300ms ease; }

						&:hover {
							opacity: 1;
						}

						&.invited {
							transform: rotate(45deg);

							g { fill: #d64444; }
						}
					}
				}
			}
		}
	}
}