@import "~global.scss";

$user-container-height: 38px;

:host {
	.container {
		display: flex;
		flex-flow: row nowrap;
		height: $user-container-height;
		width: 100%;
		margin-bottom: 10px;
		transition: all 250ms ease;

		.avatar {
			width: $user-container-height;
			height: $user-container-height;
			margin-right: $panel-padding;
		}

		& > div {
			flex: 1;

			.name-and-status {
				display: flex;
				flex-flow: row wrap;
				@include center-vertical;				
				// line-height: $user-container-height;

				app-main-contacts-status {
					position: relative;
					top: 2px;
				}

				.name {
					flex-grow: 1;
					width: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;

					&:before {
						content: "@";
						margin-right: 2px;
						opacity: 0.5;						
					}
				}

				.invite,
				.accept-or-reject {
					@include noselect;	

					cursor: default;

					svg, img {
						@include noselect;
						@include center-vertical;						

						cursor: pointer;
						width: 16px;
						opacity: 0.6;

						&:hover { opacity: 1; }
						&:last-child { margin-right: 2px; }
					}
				}

				.invite {					
					svg {
						g {
							transition: all 200ms ease;
							transform-origin: 50% 50% !important;
						}

						&.invited {
							g {
								fill: #d64444;
								transform: rotate(45deg);
							}
						}
					}
				}

				.accept-or-reject {
					font-size: 0;

					img {
						&.reject {
							position: relative;
							left: -6px;
						}
					}
				}
			}
		}
	}
}