@import "~global.scss";

$user-container-height: 38px;
$user-container-padding: 5px;
$user-container-animation-duration: 250ms;

:host {
	.container {
		cursor: pointer;
		position: absolute;
		width: calc(#{$sidebar-width} - #{$panel-spacing});

		display: flex;
		flex-flow: row nowrap;
		padding: $user-container-padding $panel-padding;
		box-sizing: border-box;
		height: $user-container-height + $user-container-padding * 2;
		transition: background-color 200ms ease;

		&:hover {
			background-color: $background-tertiary-color;
		}

		&.animated {
			transition: background-color 200ms ease,
						opacity 250ms ease,
						transform 250ms ease;
		}

		.avatar {
			min-width: $user-container-height;
			min-height: $user-container-height;
			margin-right: $panel-padding;
		}

		& > div {
			flex: 1;

			.name-and-status {
				display: flex;
				flex-flow: row wrap;
				@include center-vertical;
				// line-height: $user-container-height;

				app-main-contacts-status {
					position: relative;
					top: 2px;
				}

				.name {
					flex-grow: 1;
					width: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;

					&:before {
						content: "@";
						margin-right: 2px;
						opacity: 0.5;						
					}
				}

				.invite,
				.accept-or-reject {
					@include noselect;	

					cursor: default;

					svg, img {
						@include noselect;
						@include center-vertical;						

						cursor: pointer;
						width: 16px;
						opacity: 0.6;

						&:hover { opacity: 1; }
						&:last-child { margin-right: 2px; }
					}
				}

				.invite {					
					svg {
						g {
							transition: all 200ms ease !important;
							transform-origin: 50% 50% !important;
						}

						&.invited {
							g {
								fill: #d64444;
								transform: rotate(45deg);
							}
						}
					}
				}

				.accept-or-reject {
					font-size: 0;

					img {
						&.reject {
							position: relative;
							left: -6px;
						}
					}
				}
			}
		}
	}
}