@import "~global.scss";

$spacing: 14px;

:host {
	display: block;
    height: 84px;
	padding: $spacing;
	box-sizing: border-box;

	.container {
		display: flex;
		flex-flow: row nowrap;

		width: 100%;
		height: 100%;
		padding: 0 $spacing;
		box-sizing: border-box;

		background-color: $background-secondary-color;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		form {			
			flex: 1;
			display: inline-block;
			margin-right: $spacing;
			font-size: 0;

			.form-input {
				@include center-vertical;

				input {
					display: block;
					width: 100%;
					border: 0;
					outline: 0;
					box-sizing: border-box;
					background: none;
					font-size: 18px;
					color: $text-color;

					&::placeholder {
						color: $background-tertiary-color;
						font-size: 22px;										
					}
				}
			}
		}

		.buttons {
			svg {
				@include center-vertical;
				
				cursor: pointer;
				width: 32px;

				path {
					transition: fill 300ms ease;
					fill: $gamma;
				}
			}
			
			&.disabled svg path {
				cursor: default;
				fill: #444;
			}
		}
	}
}