@import "~global.scss";

:host {
	display: block;

	.container {
		@include noselect;

		transition: height 250ms ease;
		overflow: hidden;
		position: relative;

		&.animated .banner { transition: all 250ms ease; }

		.banner {
			display: block;
			height: 20px;
			line-height: 20px;
			overflow: hidden;
			width: 100%;
			padding-left: 32px;
			box-sizing: border-box;			

			color: $text-color;
			font-size: 18px;
			text-transform: capitalize;
		}
	}
}