<div class="container"
[class.animated]="animated"
[ngStyle]="{
	height: (hidden && animated) ? '0px' : (20 + 16 + (48 * contacts.length) + 32) + 'px'
}">
	<div class="banner" [ngStyle]="{
		opacity: (hidden && animated) ? 0 : 1
	}">
		{{ section }}
	</div>

	<div class="contents">
		<app-main-contacts-user
		*ngFor="let contact of contacts; index as i"
		[animated]="animated"
		[contact]="contact"
		[hideContact]="hideContact"
		[section]="section"
		[index]="i">
		</app-main-contacts-user>
	</div>
</div>