@import "~global.scss";

:host {
	@include noselect;

	div {
		display: block;
		height: 20px;
		line-height: 20px;
		width: 100%;
		padding: 0 6px;

		margin: $panel-padding 0;
		box-sizing: border-box;

		background-color: $background-tertiary-color;
		color: $text-color;
		font-size: 12px;
		text-align: center;

		transition: all 250ms ease;
	}

	&:first-child div { margin-top: 0; }
}