@import "~global.scss";

:host {
	.container {
		padding: $panel-spacing $panel-spacing $panel-spacing 0;	
		width: $sidebar-width;
		min-width: $sidebar-min-width;
		height: 100%;
		box-sizing: border-box;
		white-space: nowrap;

		.container-inner {
			height: 100%;
			background-color: $background-secondary-color;
			border-radius: $panel-border-radius;
			overflow: hidden;
		}
	}
}