@import "~global.scss";

$z-index: 9999;

:host {
	position: absolute;
	left: 0;
	top: 0;
	z-index: $z-index;

	display: block;
	width: 100vw;
	height: 100vh;

	background-color: $background-secondary-color;

	.title {
		@include noselect;

		position: absolute;
		left: 50%;
		top: 50%;
		z-index: $z-index + 1;
		color: $gamma;
	}

	.container {
		@include center-absolute;

		text-align: center;

		a {
			cursor: pointer;
			display: inline-block;
			margin-top: 20px;
			font-size: 14px;
			color: $text-color !important;
			opacity: 0.5;
			text-decoration: none;

			transition: opacity 250ms ease-in;

			&:hover {
				opacity: 1;
			}
		}

		form {
			width: 0;
			white-space: nowrap;

			* {
				transform: translateX(-50%);
			}

			input[type=text],
			input[type=password] {
				display: block;
				width: 210px;
				height: 38px;
				line-height: 38px;
				padding: 0 8px;
				margin-bottom: 10px;

				font-size: 18px;
				border-radius: 16px;
				background-color: $background-color;
				color: $text-color;
				text-align: center;
				transition: width 250ms ease;

				border: 0;
				outline: 1px solid transparent;


				&:last-child { margin-bottom: 0 !important; }

				&:hover {
					width: 225px;
				}
			}
		}
	}
}