<div class="container" 
[ngStyle]="{
	opacity: loggedIn ? 0 : 1,
	transition: 'opacity ' + animationDuration + 'ms ease'
}">
	<div class="container-animatable" [class.shaking]="shaking">
		<h1 class="title" #title
		[ngStyle]="{ 
			transform: 'translate(-50%, calc(-50% - ' + (titleCentered ? 0 : titleOffsetY) + 'px))',
			transition: 'transform ' + animationDuration + 'ms ease'
		}">
			gamma
		</h1>

		<div class="container-inner" #container
		[ngStyle]="{
			opacity: contentVisible ? 1 : 0,
			transition: 'opacity ' + animationDuration + 'ms ease'
		}">
			<div class="form"
			*ngIf="!registering" 
			[formGroup]="loginForm"
			[class.allTouched]="loginFormAllTouched">
				<input type="text"
				formControlName="name"
				placeholder="Username" 
				(keyup.enter)="focusNext($event)">

				<input type="password"
				formControlName="password"		
				placeholder="Password"
				(keyup.enter)="logIn()">

				<div class="switch-forms" [ngStyle]="{ opacity: waiting ? 0 : 1 }">
					<a (click)="onClickRegister()">Register an account</a>
				</div>

				<img src="{{ !showCheckmark ? 'assets/loading.svg' : 'assets/checkmark.svg' }}" 
				class="loading" 
				[ngStyle]="{ opacity: waiting ? 1 : 0 }">
			</div>

			<div class="form" 
			*ngIf="registering" 
			[formGroup]="registerForm"
			[class.allTouched]="registerFormAllTouched">
				<input type="text"
				formControlName="name"		
				placeholder="Username"
				(keyup.enter)="focusNext($event)">
				
				<input type="text"
				formControlName="email"		
				placeholder="Email address"
				(keyup.enter)="focusNext($event);">
				
				<input type="password"
				formControlName="password"		
				placeholder="Password"
				(keyup.enter)="focusNext($event)"
				(keyup)="onPasswordKeypress()">
				
				<input type="password"
				formControlName="confirmPassword"		
				placeholder="Confirm Password"
				(keyup.enter)="register()">

				<div class="switch-forms">
					<a (click)="onClickLogIn()">Back to log in</a>
				</div>

				<img src="{{ !showCheckmark ? 'assets/loading.svg' : 'assets/checkmark.svg' }}" 
				class="loading" 
				[ngStyle]="{ opacity: waiting ? 1 : 0 }">
			</div>
		</div>
	</div>
</div>