@import "~global.scss";

$z-index: 9999;

:host {
	.container {
		position: absolute;
		left: 0;
		top: 0;
		z-index: $z-index;

		display: block;
		width: 100vw;
		height: 100vh;

		background-color: $background-secondary-color;

		.container-animatable {
			width: 100vw;
			height: 100vh;

			&.shaking {
				$shake-distance: 32px;
				$shake-duration: 500ms;

				animation: "shake" $shake-duration ease-out;

				@keyframes shake {
					0% { transform: translateX(0); }
					25% { transform: translateX($shake-distance); }
					50% { transform: translateX(-$shake-distance); }
					75% { transform: translateX($shake-distance); }
					100% { transform: translateX(0); }
				}
			}

			.title {
				@include noselect;

				position: absolute;
				left: 50%;
				top: 50%;
				z-index: $z-index + 1;
				color: $gamma;
			}

			.container-inner {
				@include center-absolute;

				text-align: center;

				.form {
					width: 0;
					white-space: nowrap;

					* {
						transform: translateX(-50%);
					}

					.switch-forms {
						a {
							cursor: pointer;
							display: inline-block;
							font-size: 14px;
							color: $text-color !important;
							opacity: 0.5;
							text-decoration: none;

							transition: opacity 250ms ease;

							&:hover {
								opacity: 1;
							}
						}
					}

					.loading {
						pointer-events: none;

						display: block;
						position: relative;
						height: 42px;
						top: -30px;

						transition: opacity 250ms ease;					
					}

					input {
						display: block;
						width: 210px;
						height: 38px;
						line-height: 38px;
						padding: 0 8px;
						margin-bottom: 10px;

						font-size: 18px;
						border-radius: 16px;
						background-color: $background-color;
						color: $text-color;
						text-align: center;
						transition: width 250ms ease,
									border 350ms ease;

						border: 1px solid transparent;
						outline: 0;

						&:last-of-type {
							margin-bottom: 20px !important; 
						}

						&:hover {
							width: 225px;
						}

						&.ng-touched.ng-invalid {
							border: 1px solid #d64444;
						}
					}

					&.allTouched {
						input[type=text],
						input[type=password] {
							&.ng-invalid {
								border: 1px solid #d64444;
							}
						}
					}
				}
			}
		}
	}
}