@import "~global.scss";

:host {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-flow: row nowrap;

	background-color: $background-color;

	app-main-chat { flex: 1; }

	app-main-contacts,
	app-main-options {
		width: $sidebar-width;

		@media (max-width: $sidebar-width-breakpoint) {
			width: $sidebar-min-width;
		}
	}

	.animating {
		transition: width 600ms ease;
	}

	.visible {
		width: $sidebar-width;

		@media (max-width: $sidebar-width-breakpoint) {
			width: $sidebar-min-width;
		}
	}

	.hidden {
		width: 0;	
	}
}