<app-main-entry *ngIf="!loggedIn"
(setLocalUser)="onSetLocalUser($event)"
(logInComplete)="onLogInComplete($event)"
></app-main-entry>

<app-main-contacts
[class.animating]="sidebars.contacts.animating"
[class.visible]="sidebars.contacts.visible"
[class.hidden]="!sidebars.contacts.visible"
*ngIf="localUserService.valid">
</app-main-contacts>

<app-main-chat 
(toggleSidebar)="onToggleSidebar($event)"
[sidebars]="sidebars">
</app-main-chat>

<app-main-options
[class.animating]="sidebars.options.animating"
[class.visible]="sidebars.options.visible"
[class.hidden]="!sidebars.options.visible">
</app-main-options>
