@import "~global.scss";

:host {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-flow: row nowrap;

	app-main-chat { flex: 1; }

	app-main-contacts,
	app-main-options {
		width: $sidebar-width;
	}

	.visible {
		animation: "visible" $sidebar-animation-duration;
		width: $sidebar-width;

		@keyframes visible {
			0% {
				width: 0;
			}

			100% {
				width: $sidebar-width;
			}
		}
	}

	.hidden {
		animation: "hidden" $sidebar-animation-duration;
		width: 0;

		@keyframes hidden {
			0% {
				width: $sidebar-width;
			}

			100% {
				width: 0;
			}
		}
	}
}