@import "~global.scss";

:host {
	.container {
		position: relative;		
		display: flex;
		flex-flow: row nowrap;
		height: $top-bar-height;
		background-color: $background-tertiary-color;
		font-size: 0;

		.panel-button {
			@include noselect;
			@include center-vertical;

			cursor: pointer;
			display: inline-block;
			width: 25px;
			margin: 0 8px;
		}

		.container-inner {
			flex: 1;
			display: inline-block;
			vertical-align: top;

			.tab {
				display: inline-flex;
				position: absolute;
				vertical-align: top;
				font-size: 0;
				
				.tab-inner {
					display: flex;
					flex-flow: row nowrap;
					height: $chat-tabs-height;
					line-height: $chat-tabs-height;

					padding: 0 10px 0 12px;
					background-color: $chat-tabs-background-color;
					transition: background-color $chat-tabs-transition-duration $chat-tabs-transition-function;

					overflow: hidden;

					span {
						@include noselect;
						@include contact-name;

						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: center;

						flex: 1;
						font-size: 14px;
						color: rgba($text-color, 0.6);
						transition: color $chat-tabs-transition-duration $chat-tabs-transition-function;
					}

					.tab-close {
						@include center-vertical;

						cursor: pointer;

						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin-left: 12px;

						transition: background-color $chat-tabs-transition-duration $chat-tabs-transition-function;				
						background-color: $background-tertiary-color;				

						&:hover {
							background-color: rgb(224, 72, 72);
						}
					}
				}

				&:hover:not(.selected) {
					.tab-inner {
						background-color: $chat-tabs-hovered-background-color;

						span {
							color: $text-color;
						}
					}
				}

				&.selected {
					z-index: 2 !important;
					
					.tab-inner {
						background-color: $chat-tabs-selected-background-color;
						transition: unset !important;

						span {
							color: $text-color;
							transition: unset !important;
						}
					}
				}

				&.flashing {
					.tab-inner { animation: "flash" 4s $chat-tabs-transition-function 0s infinite; }
					
					@keyframes flash {
						0% { background-color: $chat-tabs-hovered-background-color; }
						25%, 100% { background-color: $chat-tabs-background-color; }
					}
				}
			}
		}
	}
}