<div class="container" onresize="onResize($event)">
	<img src="{{ sidebars.contacts.visible ? 'assets/contacts.svg' : 'assets/contacts-hidden.svg' }}" 
	class="panel-button left" 
	(click)="onToggleContacts()">

	<div class="container-inner" #container>
		<div class="tab" 
		*ngFor="let tab of tabs; let i = index;"
		(mousedown)="onMouseDown(tab, $event)"
		[class.selected]="selectedTab == tab" 
		[class.flashing]="tab.flashing"
		[ngStyle]="{ 
			transform: 'translateX(' + floor(tab.offsetX) + 'px)',
			transition: (tab != draggingTab && !resizing) ? 'transform 175ms ease' : null,
			width: tabWidth + 'px'
		}">
			<div class="tab-inner" 
			[ngStyle]="{
				backgroundColor: selectedTab == tab ? '' : getTabColor(tab),
				width: tabWidth + 'px'
			}">
				<span>{{ contactService.getFriendName(tab.conversation.withId) }}</span>
				<div class="tab-close"
				[ngStyle]="{ backgroundColor: selectedTab == tab ? '' : getTabCloseColor(tab) }">
				</div>
			</div>

			<div class="shadow-cover"></div>
		</div>
	</div>

	<img src="{{ sidebars.options.visible ? 'assets/options.svg' : 'assets/options-hidden.svg' }}" 
	class="panel-button right"
	(click)="onToggleOptions()">
</div>