<div class="container" #container>
	<div class="tab" 
	*ngFor="let tab of tabs; let i = index;"
	(mousedown)="onMouseDown(tab, $event)"
	[class.selected]="selectedTab == tab" 
	[class.flashing]="tab.flashing"
	[ngStyle]="{ 
		transform: 'translate(' + tab.offsetX + 'px, -100%)', 
		zIndex: 16 - tab.order,
		transition: tab != draggingTab ? 'left 300ms ease' : null
	}">
		<div class="tab-roundout left"></div>
		<div class="tab-inner">
			<span>{{ tab.title }}</span>
			<div class="tab-close"></div>
		</div>
		<div class="tab-roundout right"></div>	
	</div>
</div>