@import "~global.scss";

:host {
	display: flex;
	position: relative;

	width: 100%;
	height: 100%;
	
	border-top: 1px solid $accent-color;
	z-index: 16;

	.container {
		background-color: $background-secondary-color;

		width: 100%;
		height: 100%;
	}
}