<div class="container" [ngStyle]="{
	boxShadow: shadowOpacity ? ('0 0 10px 0px rgba(0, 0, 0, ' + shadowOpacity + ')') : ''
}">
	<div class="container-inner" #container>
		<div class="topbar" *ngIf="!screenSizeService.mobile" #topbar>
			<h1>Contacts</h1>
		</div>

		<ng-scrollbar #scrollbar
		autoHide="true"
		[trackY]="scroll"
		(scrollState)="onScrollState($event)">
			<div class="content" #content (mouseenter)="onMouseEnter()">
				<app-main-contacts-search
				(setSearching)="onSetSearching($event)"
				(displaySearchResults)="onDisplaySearchResults($event)">
				</app-main-contacts-search>

				<div class="content-view">
					<app-main-contacts-home
					[hidden]="searching">
					</app-main-contacts-home>

					<app-main-contacts-searchresults
					*ngIf="searching"
					[waiting]="waiting"
					[searchResults]="searchResults">
					</app-main-contacts-searchresults>
				</div>
			</div>
		</ng-scrollbar>
	</div>
</div>