@import "~global.scss";

:host {
	position: relative;
	z-index: 2;

	.container {
		width: $sidebar-width;
		min-width: $sidebar-min-width;
		height: 100%;
		box-sizing: border-box;		
		float: right;
		white-space: nowrap;

		.container-inner {
			display: flex;
			flex-flow: column nowrap;

			height: 100%;
			background-color: $background-secondary-color;
			overflow: hidden;

			.topbar {
				@include topbar;
				@include noselect;

				text-align: center;
			}

			.content {
				flex: 1;
				display: flex;
				flex-flow: column nowrap;

				.content-view {
					flex: 1;
					box-sizing: border-box;
				}
			}
		}
	}
}