@import "~global.scss";

:host {
	.container {
		padding: $panel-spacing 0 $panel-spacing $panel-spacing;		
		width: $sidebar-width;
		height: 100%;
		box-sizing: border-box;		
		float: right;
		white-space: nowrap;

		.container-inner {
			display: flex;
			flex-flow: column nowrap;

			height: 100%;
			background-color: $background-secondary-color;
			border-radius: $panel-border-radius;
			overflow: hidden;

			.topbar {
				@include topbar;

				text-align: center;
			}

			.content {
				flex: 1;
				display: flex;
				flex-flow: column nowrap;

				.content-view {
					flex: 1;
					padding: 0 $panel-padding;
					box-sizing: border-box;
				}
			}
		}
	}
}