<div class="curtain"
[class.visible]="sidebars.contacts.visible || sidebars.options.visible"
[class.animated]="sidebars.contacts.animating || sidebars.options.animating"
[ngStyle]="{
	opacity: sidebars.contacts.visible ? (sidebars.contacts.progress) :
			(sidebars.options.visible ? sidebars.options.progress : '')
}"
(click)="onHideSidebars()"></div>

<div class="container">
	<app-main-chat-tabs
	[sidebars]="sidebars"
	(toggleContacts)="onToggleContacts()"
	(toggleOptions)="onToggleOptions()"
	(tabClicked)="onTabClicked($event)">
	</app-main-chat-tabs>

	<div class="content">
		<div class="fade-top">
			<div class="opaque"></div>
			<div class="gradient"></div>
		</div>

		<ng-container *ngIf="currentConversation">
			<ng-scrollbar autoHide="true" #scrollbar>
				<app-main-chat-message-container
				[messages]="currentConversation.messages">
				</app-main-chat-message-container>
			</ng-scrollbar>

			<app-main-chat-input
			[conversation]="currentConversation">
			</app-main-chat-input>
		</ng-container>

		<div class="fade-bottom">
			<div class="gradient"></div>
			<div class="opaque"></div>
		</div>
	</div>
</div>