@import "~global.scss";

:host {
	padding: $panel-spacing;

	.container {	
		display: flex;
		height: 100%;
		flex-flow: column nowrap;
		border-radius: $panel-border-radius;
		overflow: hidden;

		app-main-chat-message-container {
			flex: 1;
		}
	}
}