<div class="container">
	<app-main-chat-tabs
	[sidebars]="sidebars"
	(toggleContacts)="onToggleContacts()"
	(toggleOptions)="onToggleOptions()"
	(tabClicked)="onTabClicked($event)">
	</app-main-chat-tabs>

	<div class="content">
		<ng-container *ngIf="currentConversation">
			<ng-scrollbar autoHide="true" #scrollbar>
				<app-main-chat-message-container
				[conversation]="currentConversation">
				</app-main-chat-message-container>
			</ng-scrollbar>

			<app-main-chat-input
			[conversation]="currentConversation">
			</app-main-chat-input>
		</ng-container>
	</div>
</div>